{% load staticfiles %}

<!DOCTYPE html>
<html>

    <head>
        <title>East Scarborough Storefront</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/juakstyle.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui.css">
        <script src="{{ STATIC_URL }}js/jquery-2.0.3.min.js"></script>
        <script src="{{ STATIC_URL }}js/booking_add.js"></script>

        <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
        <script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>
    </head>
    <body>
        
        
    <div id="maincontainer">
    
    <div id="container">
        <!-- inside container -->
        <div id="header">
            <img src="{{ STATIC_URL }}img/header.jpg">
            <div id="nav">
            <ul>
                <li><a href="{% url 'juakstore:index'  %}">Home</a></li>
                <li><a href="{% url 'juakstore:bookingSubmit' %}">Bookings</a></li>
                <li><a href="{% url 'juakstore:roomList' %}">Rooms</a></li>
                <li><a href="{% url 'juakstore:adminView' %}">Admin</a></li>
                <li><a href="http://www.thestorefront.org">Storefront Home</a></li>
                <li><a href="{% url 'juakstore:logout' %}">Logout</a></li>
            </ul>
                </div>
        </div>    
        
        <div id="content">
            
            
        {% block content %}
            <!-- content goes in here -->
        {% endblock %}

        </div>
        
        <div id="footer">
        <p>Website created by <a href="csc301h-fall2013.github.io/JuakStore/index.html" target="_blank">Team Amadjuak</a> for East Scarborough Storefront<br>CSC301 Project at UofT.</p>
        </div>
        
    </div>
</div> 
    
        
    </body>
    
</html>