#content{
	margin: 0 34% 0 7.6%;
	width: 80%;
	padding-top:none;
}

#bookings_index{
	float: left;
}

.headings_index{
	font-size:2em;
}

form p{
	margin-bottom:.8em;
}

#rooms_index{
	float: right;
}

.clear{
	clear:both;
}

ul.cal-list li{
	list-style-type:none;
}

a.calendar-list, a.calendar-list:active, a.calendar-list:visited{
	list-style-type:none;
	padding:none;
	margin: none;
}

ul.cal-list li a.calendar-list{
	list-style-type: none;
	padding:0;
	margin: 0;
	font-size: 40px;
}