#content{
	margin: 0 34% 0 7.6%;
	width: 80%;
	padding-top:none;
}

#bookings_index{
	float: left;
}

.headings_index{
	font-size:2em;
}

form p{
	margin-bottom:.8em;
}

#rooms_index{
	float: left;
}

.clear{
	clear:both;
}

ul.cal-list li{
	list-style-type:none;
}

a.calendar-list, a.calendar-list:active, a.calendar-list:visited{
	list-style-type:none;
	padding:none;
	margin: none;
}

ul.cal-list li a.calendar-list{
	list-style-type: none;
	padding:0;
	margin: 0;
	font-size: 40px;
}

#menu-item-1278, #menu-item-1279, #menu-item-1525{
    width: 18em;
}

/* help for this image map from http://www.image-maps.com */
dl.image_map {display:block; width:600px; height:652px; background:url('../img/storefrontblueprint.png'); position:relative; margin:2px auto 2px auto;}
	a.staffkitchen {left:282px; top:0px; background:transparent;}
	a.staffkitchen {display:block; width:91px; height:0; padding-top:104px; overflow:hidden; position:absolute;}
	a.staffkitchen:hover  {background:transparent; border:1px dashed black; color:black;}
	a.backspace {left:421px; top:0px; background:transparent;}
	a.backspace {display:block; width:131px; height:0; padding-top:198px; overflow:hidden; position:absolute;}
	a.backspace:hover  {background:transparent; border:1px dashed black; color:black;}
	a.office3 {left:0px; top:235px; background:transparent;}
	a.office3 {display:block; width:85px; height:0; padding-top:91px; overflow:hidden; position:absolute;}
	a.office3:hover  {background:transparent; border:1px dashed black; color:black;}
	a.office2 {left:81px; top:235px; background:transparent;}
	a.office2 {display:block; width:63px; height:0; padding-top:66px; overflow:hidden; position:absolute;}
	a.office2:hover  {background:transparent; border:1px dashed black; color:black;}
	a.office1 {left:540px; top:236px; background:transparent;}
	a.office1 {display:block; width:57px; height:0; padding-top:78px; overflow:hidden; position:absolute;}
	a.office1:hover  {background:transparent; border:1px dashed black; color:black;}
	a.meetingroom {left:144px; top:537px; background:transparent;}
	a.meetingroom {display:block; width:87px; height:0; padding-top:112px; overflow:hidden; position:absolute;}
	a.meetingroom:hover  {background:transparent; border:1px dashed black; color:black;}
	a.kitchen {left:0px; top:323px; background:transparent;}
	a.kitchen {display:block; width:143px; height:0; padding-top:326px; overflow:hidden; position:absolute;}
	a.kitchen:hover  {background:transparent; border:1px dashed black; color:black;}



