{% extends "base.html" %}
{% load i18n %}
{% load juakstore_extras %}

{% block title %}East Scarborough Storefront | Admin{% endblock %}

{% block content %}

<style>
	form { display: inline; }
</style>

<h1 class="headings_index">Partner Account Requests</h1>
<div id="partners_index">
{% if partners %}
	<head>
	<style>
	table
	{
	border-collapse:collapse;
	}
	table, td, th
	{
	padding:4px 8px;
	border:2px solid #638FD0;
	}
	th
	{
	background-color:#638FD0;
	color:white;
	}
	</style>
	</head>
    <table id="approval_table" border="0">
        <thead><tr><th>User</th><th>Name</th><th>Company</th><th>Information</th><th></th><th></th></tr></thead>
		{% for user in partners %}
			{% if not user.uID.is_active %}
				<tr>
				<td>{{user.uID.username}}</td>
				<td>{{user.name}}</td>
				<td>{{ user.company }}</td>
				<td> <a href="{% url 'juakstore:userDetail' user.uID.id  %}">more info</a><br></td>
				<td>
				<form name="form" method="post" action="{% url 'juakstore:adminAccept' user.uID.id %}">{% csrf_token %}
					<!--{{ form.as_p }}-->
					<input type="submit" value="Approve" />
				</form> </td>
				<td>
				<form name="form" method="post" action="{% url 'juakstore:adminDecline' user.uID.id %}">{% csrf_token %}
					<!--{{ form.as_p }}-->
					<input type="submit" value="Decline" />
				</form>	</td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>
{% endif %}
{% if noUsers %}
	No new requests.
{% endif %}
</div>

<h1 class="headings_index">Booking Requests</h1>
<div id="partners_index">
{% if bookings %}
    <table id="approval_table" border="0">
        <thead><tr><th>Booking</th><th>Booker</th><th>Room</th><th>Date</th><th>Start</th><th>End</th><th>Conflict</th><th></th><th></th></tr></thead>
        {% for booking in bookings %}
            {% if not booking.approved %}
                <tr>
                <td><a href="{% url 'juakstore:bookingDetail' booking.id %}">{{ booking.name }}</a></td>
                <td><a href="{% url 'juakstore:userDetail' booking.booker.id %}">{{ booking.booker }}</a></td>
                <td><a href="{% url 'juakstore:roomDetail' booking.room.id %}">{{ booking.room }}</a></td>
                <td>{{ booking.date }}</td>
                <td>{{ booking.start }}</td>
                <td>{{ booking.end }}</td>
                <td>{% if booking.has_conflict %}<a href="{% url 'juakstore:bookingDetail' booking.id %}">Yes</a>{% else %}No{% endif %}</td>
                <td>
                    <form name="form" method="post" action="{% url 'juakstore:adminAcceptBooking' booking.id %}">{% csrf_token %}
					<input type="submit" value="Approve" /></form>
                </td>
                <td><form name="form" method="post" action="{% url 'juakstore:adminDeclineBooking' booking.id %}">{% csrf_token %}
					<input type="submit" value="Decline" /></form>
                </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endif %}
{% if noBookings %}
	No new requests.
{% endif %}
</div>

<h1 class="headings_index">Administration</h1>
<div id="administration_index">
<form action="{% url 'juakstore:roomCreate' %}"><input type="submit" value="Add Room" /></form>
<br>
<form action="{% url 'juakstore:bookingCreate' %}"><input type="submit" value="Make Booking" /></form>
<form action="{% url 'juakstore:"></form>
</div>


{% endblock %}
