{% extends "base.html" %}

{% block content %}

<h1 class="headings_index">Make A Booking</h1>

<p>Fill out the following form to fill a booking request. We shall contact you once the booking request has been confirmed. Please take a look at the description of different rooms available to help you make your choices.</p>

<script type="text/javascript" src="{{ STATIC_URL }}js/booking_add.js"></script>

<form action={% url 'juakstore:bookingSubmit' %} method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

{% endblock %}