{% extends "base.html" %}

{% block content %}

<h1 class="headings_index">Update A Booking</h1>

Please edit the following fields to update this booking.

{% if conflicts %}
    The following bookings were not updated due to conflicts with other bookings:
    <ul>
    {% for c in conflicts %}
        <li><a href="{% url 'juakstore:bookingDetail' c.id %}">{{ c.name }}</a>: {{ c.date }} {{ c.start }} - {{ c.end }}</li>
    {% endfor %}
    </ul>
{% endif %}

<form action={% url 'juakstore:submitBooking' booking.id %} method="post">{% csrf_token %}
    {{ form.as_p }}
<input type="submit" value="Submit" />
</form>

{% endblock %}