{% extends "base.html" %}
{% load juakstore_extras %}

{% block content %}

<h1 class="headings_index">Make A Booking</h1>

<div id="tribe-events-content-wrapper" class="tribe-clearfix">

<div id="tribe-events-content" class="tribe-events-month">

{% if submittedBookings %}
    The following bookings have been submitted:
    <ul>
    {% for booking in submittedBookings %}
        <li><a href="{% url 'juakstore:bookingDetail' booking.id %}">{{ booking.name }}</a> on {{ booking.date }} from {{ booking.start }} to {{ booking.end }} in <a href="{% url 'juakstore:roomDetail' booking.room.id %}">{{ booking.room.name }}</a>{% if booking.has_conflict %}<br><p class="conflict">Warning: this booking has a conflict{% endif %}</p></li>
    {% endfor %}
    </ul>
{% endif %}

<div id="tabs">


<div id="calendar">

    {% calendar all_bookings year month %}

    <div>
    <form action={% url 'juakstore:bookingCreate' %} method="get">
    {% if month == 1 %}
        <input id="year" name="year" type="hidden" value={{ year|add:-1 }}>
        <input id="month" name="month" type="hidden" value="12">
{#        <a href="{% url 'juakstore:indexyymm' year|add:'-1' 12 %}">Prev</a>#}
    {% else %}
        <input id="year" name="year" type="hidden" value={{ year }}>
        <input id="month" name="month" type="hidden" value={{ month|add:'-1' }}>
{#        <a href="{% url 'juakstore:indexyymm' year month|add:'-1' %}">Prev</a>#}
    {% endif %}
        <input type="submit" value="Prev">
    </form>
    </div>

    <div>
    <form action={% url 'juakstore:bookingCreate' %} method="get">
    {% if month == 12 %}
        <input id="year" name="year" type="hidden" value={{ year|add:1 }}>
        <input id="month" name="month" type="hidden" value="1">
    {% else %}
        <input id="year" name="year" type="hidden" value={{ year }}>
        <input id="month" name="month" type="hidden" value={{ month|add:'1' }}>
    {% endif %}
    <input type="submit" value="Next">
    </form>
    </div>
</div>

</div>
</div>


<p>Fill out the following form to fill a booking request. We shall contact you once the booking request has been confirmed. Please take a look at the description of different rooms available to help you make your choices.</p>

<script type="text/javascript" src="{{ STATIC_URL }}js/booking_add.js"></script>

<form action={% url 'juakstore:bookingSubmit' %} method="post">{% csrf_token %}

    {# Include the hidden fields #}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    <p><label for="id_name">Event Name:</label> {{ form.name }}</p>
    <p><label for="id_notes">Notes:</label> {{ form.notes }}</p>
    <p><label for="id_category">Category:</label> {{ form.category }}</p>
    <p><label for="id_date">Date:</label>{{ form.date }}</p>
    <p><label for="id_start_hour">Start:</label> {{ form.start }}</p>
    <p><label for="id_end_hour">Start:</label> {{ form.end }}</p>
    <p><label for="id_room">Room:</label> {{ form.room }}</p>
    <p><label for="id_repeat">Repeat:</label> {{ form.repeat }}</p>
    <p id="repeat_fields">Repeat every {{ form.repeat_frequency }} {{ form.repeat_frequency_unit }} until {{ form.repeat_end }}</p>
    <input type="submit" value="Submit" />
</form>

{% endblock %}