{% if currentUser == booking.booker or currentUser.is_staff%}
	<h1> {{ booking.name }} </h1>
	<p>{{ booking.notes }}</p>
	<p>Booker: <a href="{% url 'juakstore:userDetail' booking.booker.id %}">{{ booking.booker }}</a></p>
	<p>Room: <a href="{% url 'juakstore:roomDetail' booking.room.id %}">{{ booking.room }}</a></p>
	<p>Date: {{ booking.date }}</p>
	<p>Start: {{ booking.start }}</p>
	<p>End: {{ booking.end }}</p>
	<form method="get" action="{% url 'juakstore:editBooking' booking.id %}">
		<button type="submit">Edit</button>
	</form>
{% else %}
	<h1> {{ booking.name }} </h1>
	<p>Booker: <a href="{% url 'juakstore:userDetail' booking.booker.id %}">{{ booking.booker }}</a></p>
	<p>Room: <a href="{% url 'juakstore:roomDetail' booking.room.id %}">{{ booking.room }}</a></p>
	<p>Date: {{ booking.date }}</p>
	<p>Start: {{ booking.start }}</p>
	<p>End: {{ booking.end }}</p>
{% endif %}