{% extends "base.html" %}
{% load i18n %}
{% load juakstore_extras %}


{% block title %}East Scarborough Storefront | Index{% endblock %}

{% block content %}

<script type="text/javascript" src="{{ STATIC_URL }}js/booking_add.js"></script>

<div id="blueprint">

    <h1 class="headings_index">Blue Print</h1>

    <p>Click on a room below to get information about that room</p>

    <dl class="image_map">
        <dd><a class="staffkitchen" title="" href=" {% url 'juakstore:roomDetail' 4 %}"></a></dd>
        <dd><a class="backspace" title="" href=" {% url 'juakstore:roomDetail' 1 %}"></a></dd>
        <dd><a class="office3" title="" href=" {% url 'juakstore:roomDetail' 7 %}"></a></dd>
        <dd><a class="office2" title="" href=" {% url 'juakstore:roomDetail' 6 %}"></a></dd>
        <dd><a class="office1" title="" href=" {% url 'juakstore:roomDetail' 5 %}"></a></dd>
        <dd><a class="meetingroom" title="" href=" {% url 'juakstore:roomDetail' 2 %}"></a></dd>
        <dd><a class="kitchen" title="" href=" {% url 'juakstore:roomDetail' 3 %}"></a></dd>
    </dl>

</div>
            


<div id="rooms_index">
<h1 class="headings_index">Rooms:</h1>
{% if all_rooms %}
    <ul>
        {% for room in all_rooms %}
            <li><a href="{% url 'juakstore:roomDetail' room.id %}">{{ room.name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No rooms!</p>
{% endif %}
</div>

<div id="calendar">
    
        {% calendar all_bookings year month %}

        <div>
        <form action={% url 'juakstore:index' %} method="get">
        {% if month == 1 %}
            <input id="year" name="year" type="hidden" value={{ year|add:-1 }}>
            <input id="month" name="month" type="hidden" value="12">
{#        <a href="{% url 'juakstore:indexyymm' year|add:'-1' 12 %}">Prev</a>#}
        {% else %}
            <input id="year" name="year" type="hidden" value={{ year }}>
            <input id="month" name="month" type="hidden" value={{ month|add:'-1' }}>
{#        <a href="{% url 'juakstore:indexyymm' year month|add:'-1' %}">Prev</a>#}
        {% endif %}
            <input type="submit" value="Prev">
        </form>
        </div>

        <div>
        <form action={% url 'juakstore:index' %} method="get">
        {% if month == 12 %}
            <input id="year" name="year" type="hidden" value={{ year|add:1 }}>
            <input id="month" name="month" type="hidden" value="1">
        {% else %}
            <input id="year" name="year" type="hidden" value={{ year }}>
            <input id="month" name="month" type="hidden" value={{ month|add:'1' }}>
        {% endif %}
        <input type="submit" value="Next">
        </form>
        </div>
    </div>

    <div id="agenda" class="tribe-events-content tribe-events-month">
        {% agenda all_bookings year month day %}
        <form action={% url 'juakstore:index' %} method="get">
            <input id="year" name="year" type="hidden" value={% oneWeekDiff year month day 'year' 'last' %}>
            <input id="month" name="month" type="hidden" value={% oneWeekDiff year month day 'month' 'last' %}>
            <input id="day" name="day" type="hidden" value={% oneWeekDiff year month day 'day' 'last' %}>
            <input type="submit" value="Prev">
        </form>
        <form action={% url 'juakstore:index' %} method="get">
            <input id="year" name="year" type="hidden" value={% oneWeekDiff year month day 'year' 'next' %}>
            <input id="month" name="month" type="hidden" value={% oneWeekDiff year month day 'month' 'next' %}>
            <input id="day" name="day" type="hidden" value={% oneWeekDiff year month day 'day' 'next' %}>
            <input type="submit" value="Next">
        </form>
    </div>




{% endblock %}
