{% extends "base.html" %}
{% load i18n %}
{% load juakstore_extras %}


{% block title %}East Scarborough Storefront | Index{% endblock %}

{% block content %}

<script type="text/javascript" src="{{ STATIC_URL }}js/booking_add.js"></script>

<div id="blueprint">

    <h1 class="headings_index">Blue Print</h1>

    <p>Click on a room below to get information about that room</p>

    <dl class="image_map">
        <dd><a class="staffkitchen" title="" href=" {% url 'juakstore:roomDetail' 4 %}"></a></dd>
        <dd><a class="backspace" title="" href=" {% url 'juakstore:roomDetail' 1 %}"></a></dd>
        <dd><a class="office3" title="" href=" {% url 'juakstore:roomDetail' 7 %}"></a></dd>
        <dd><a class="office2" title="" href=" {% url 'juakstore:roomDetail' 6 %}"></a></dd>
        <dd><a class="office1" title="" href=" {% url 'juakstore:roomDetail' 5 %}"></a></dd>
        <dd><a class="meetingroom" title="" href=" {% url 'juakstore:roomDetail' 2 %}"></a></dd>
        <dd><a class="kitchen" title="" href=" {% url 'juakstore:roomDetail' 3 %}"></a></dd>
    </dl>

</div>
            


<div id="rooms_index">
<h1 class="headings_index">Rooms:</h1>
{% if all_rooms %}
    <ul>
        {% for room in all_rooms %}
            <li><a href="{% url 'juakstore:roomDetail' room.id %}">{{ room.name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No rooms!</p>
{% endif %}
</div>


{% endblock %}
