{% extends "base.html" %}


{% block content %}

{% load juakstore_extras %}
<h1 class="headings_index">{{ room.name }}</h1>
<p>{{ room.info }}</p>

{% if room_bookings %}
    <h1 class="headings_index">All Bookings:</h1>
	<ul>
    {% for booking in room_bookings %}
        {% if booking.room.id == room.id %}
        <li>{{ booking.date }}: <a href="{% url 'juakstore:bookingDetail' booking.id %}">{{ booking.name }}</a></li>
        {% endif %}
    {% endfor %}
	</ul>
{% else %}
<p>No bookings!</p>
{% endif %}

<div id="tribe-events-content-wrapper" class="tribe-clearfix">

<div id="tribe-events-content" class="tribe-events-month">

<div id="tabs">

    
<div id="calendar">
    {% calendar room_bookings year month %}
</div>

</div>
</div>

{% comment %}
<div>
{% if month == 1 %}
<a href="{% url 'juakstore:roomDetailyymm' year=year|add:'-1' month=12 %}">Prev</a>
{% else %}
<a href="{% url 'juakstore:roomDetailyymm' year=year month=month|add:'-1' %}">Prev</a>
{% endif %}
</div>

<div>
{% if month == 12 %}
<a href="{% url 'juakstore:roomDetailyymm' year=year|add:'1' month=1 %}">Next</a>
{% else %}
<a href="{% url 'juakstore:roomDetailyymm' year=year month=month|add:'1' %}">Next</a>
{% endif %}
</div>
{% endcomment %}

{% endblock %}