{% extends "juakstore/base.html" %}

{% block content %}

	{% if errors %}
        <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

{% if notfirst %}

<p>You've searched for available rooms from <strong>{{ start_time }}</strong> to <strong>{{ end_time }}</strong> on 
<strong>{{ date | date:"D M d Y" }}</strong></p>

<p>
<strong>Search Results:</strong> {{ count }}</br>

{% for r in rooms %}
<li><a href="{% url 'juakstore:roomDetail' r.id %}">{{ r.name }}</a></li>
{% endfor %}

{% endif %}

<form action="" method="POST">
    {% csrf_token %}  
    {{ form.as_p }}
<input type="submit" value="Search" />
</form>

{% endblock %}
