{% extends "base.html" %}

{% block content %}

	 {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if notfirst %}
        <p>You searched for:</p>
        Room <strong> {{ room }}</strong> 
        with start date <strong>{{ start_date}}</strong> 
        and end date <strong>{{ end_date }} </strong> </p>
        on days <strong>{{ days }}</strong> 
        between the times of <strong>{{ start_time}} </strong> and <strong>{{ end_time }}</strong></p>

    {% if room %}
        <ul>
            {% for r in room %}
            <li>  {{ r }}</li>
            {% endfor %}
         </ul>
	{% endif %}
    {% endif %}

<form action={% url 'juakstore:search' %} method="POST">
    {% csrf_token %}  
    {{ form.as_p }}
<input type="submit" value="Submit" />

{% endblock %}
