<html>
<head>
    <title>Search</title>
</head>
<body>
	 {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if notfirst %}
        <p>You searched for:</p>
        Room <strong> {{ room }}</strong> 
        with start date <strong>{{ start_date_day }}-{{ start_date_month }}-{{ start_date_year }}</strong> 
        and end date <strong>{{ end_date_day }}-{{ end_date_month }}-{{ end_date_year}} </strong></p>

    {% if room %}
        <ul>
            {% for r in room %}
            <li>  {{ r }}</li>
            {% endfor %}
         </ul>
	{% endif %}
    {% endif %}

<form action="/search/" method="POST">
    {% csrf_token %}  
    Press ctrl while selecting multiple rooms.</p>
    {{ form.room }}</p>
    Search days between Start Date - End Date:</p>
    Start Date: {{ form.start_date }}</p>
    End Date: {{ form.end_date }}</p>
     {{form.days}}</p>
    Start Time: {{ form.start_time }} </p>
    End Time: {{ form.end_time }}</p>

<input type="submit" value="Submit" />
</form>

</body>
</html>