{% extends "base.html" %}
{% load range %}

{% block content %}

	{% if errors %}
        <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

{% if notfirst %}

You've searched for bookings from <strong>{{ sd | date:"D M d Y"}}</strong> to <strong>{{ ed | date:"D d M Y"}}</strong> </p>
Categories:
{% if category %}
{% for c in category %}
<strong>[ {{c}} ]</strong>
{% endfor %}
{% endif %}
{% if not category %} None selected {% endif %} </p>

Partners:
{% if partner %}
{% for p in partner %}
<strong>[ {{p}} ]</strong>
{% endfor %}
{% endif %} 
{% if not partner %} None selected {% endif %}</p>

Rooms:
{% if room %}
{% for r in room %}
<strong>[ {{r}} ]</strong>
{% endfor %}
{% endif %}
{% if not room %} None selected {% endif %}</p>

<strong>Search Results:</strong></br>
{% if TOTAL%}
{% for t in TOTAL%}
<li>{{t}}</li>
{% endfor %}
{% endif %}</br>

{% if TIME %}
Number of hours booked during this period: {{ TIME }}</br>
{% endif%}
{% if BOOKINGS %}
Number of bookings during this period: {{ BOOKINGS }}</p>
{% endif%}
{% endif %}
</p>
<form action={% url 'juakstore:summary' %} method="POST">
    {% csrf_token %}  
    {{ form.as_p }}
<input type="submit" value="Submit" />
</form>

{% endblock %}
